#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// SCHEMA
//

IDR_SCHEMA              SCHEMA                  "schema.bin"
/////////////////////////////////////////////////////////////////////////////
